# Environment variables
.env*
!.env.example

# Node modules
node_modules/

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Temporary/Build files
.DS_Store
.tmp.driveupload
.next/
out/
build/
dist/
*.log
